@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

body {
    font-family: "Noto Sans KR","Malgun Gothic",sans-serif;
    margin: 0
}

    /* 화면 전환용 배경 */
    body.default-background {
        background: url("../images/mainbackground.jpg") center/cover no-repeat;
    }

    body.shop-background {
        background: url("../images/store.jpg") center/cover no-repeat;
    }

    body.battle-background {
        background: url("../images/fightback.jpg") center/cover no-repeat;
    }

section {
    padding: 40px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

button {
    padding: 10px 20px;
    margin: 6px;
    cursor: pointer;
}

.hidden {
    display: none;
}
